<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5Kfmhua6-6aByAOZN81WOD7O8NXemRPc</string>
	<key>GCM_SENDER_ID</key>
	<string>1051749831627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atividade2</string>
	<key>PROJECT_ID</key>
	<string>si700-84afe</string>
	<key>STORAGE_BUCKET</key>
	<string>si700-84afe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051749831627:ios:d7c1d865ab37b9417b1c4e</string>
	<key>DATABASE_URL</key>
	<string>https://si700-84afe-default-rtdb.firebaseio.com</string>
</dict>
</plist>